@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro";
}

.header {
  height: 100vh;
  width: 100vw;
}

.titleContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 66px;
  font-weight: bold;
  opacity: var(--opacity);
  transform: scale(var(--scale));
  transition: transform .1s linear, opacity .1s inear;
  will-change: transform, opacity;
}

.backgroundImage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1554967769-1f961137e9c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=934&q=80");
  background-size: cover;
  background-position: center 50%; 
  -webkit-filter: blur(var(--blur));
  -moz-filter: blur(var(--blur));
  -o-filter: blur(var(--blur));
  -ms-filter: blur(var(--blur));
  filter: blur(var(--blur));
  z-index: -1;
  transform: scale(var(--scale));
  will-change: filter, transform;
}

.hidden {
  visibility: hidden;
}

.content {
  height: 80vh;
  width: 100vw;
  position: relative;
}

h2 {
  color: white;
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  opacity: var(--opacity2);
  transform: scale(var(--scale2));
  will-change: opacity, transform;
  margin-bottom: 5px;
  transition: transform .1s linear, opacity .1s inear;
}

p {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-size: 24px;
  opacity: var(--opacity3);
  will-change: opacity;
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
  } 
  h2 {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  p {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
