@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

* {
  margin: 0;
  padding: 0;
}


/* Style the body */
body {
  font-family: Helvetica, Helvetica, Helvetica;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
</style>
</head>
<body>
.header {
  height: 100vh;
  width: 100vw;
}

.titleContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 66px;
  font-weight: bold;
  opacity: var(--opacity);
  transform: scale(var(--scale));
  transition: transform .1s linear, opacity .1s inear;
  will-change: transform, opacity;
}

.backgroundImage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1554967769-1f961137e9c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=934&q=80");
  background-size: cover;
  background-position: center 50%; 
  -webkit-filter: blur(var(--blur));
  -moz-filter: blur(var(--blur));
  -o-filter: blur(var(--blur));
  -ms-filter: blur(var(--blur));
  filter: blur(var(--blur));
  z-index: -1;
  transform: scale(var(--scale));
  will-change: filter, transform;
}

.hidden {
  visibility: hidden;
}

.content {
  height: 80vh;
  width: 100vw;
  position: relative;
}

h2 {
  color: white;
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  opacity: var(--opacity2);
  transform: scale(var(--scale2));
  will-change: opacity, transform;
  margin-bottom: 5px;
  transition: transform .1s linear, opacity .1s inear;
}

p {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-size: 24px;
  opacity: var(--opacity3);
  will-change: opacity;
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
  } 
  h2 {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  p {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
